@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
    background: #424242;
}

#app {
    max-width: 1000px;
    margin: auto;
}

.day {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: #2f2f2f;

    display: flex;
    flex-direction: row;
}

.day section {
    flex: 0.5;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.day h2 {

}

.day p {
    color: #a2a2a2;
}

.day > ul {
    flex: 1;
}

hr {
    border: none;
    align-self: stretch;
    background: #424242;
    flex: 0 0 3px;
    margin: 0 1em;
}

/***** WEATHER *****/

.weather {
    margin: 0.75em -0.5em -0.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.weather > li {
    position: relative;
    display: block;
    height: 3em;
    margin: 0.25em 0.5em;
    padding: 0 0.25em;

    text-align: center;
}

.weather li:before {
    display:block;
    content: "";
    height: 1.25em;
    position: absolute;
    left: 0;
    right: 0;
    background: #6f6f6f;
    background: linear-gradient(90deg, #6f6f6f 50%, transparent 100%);
}

.weather li > div
{
    position: relative;
    width: 2.25em;
    height: 3em;
    float: left;
}

.weather img {
    height: 100%;
}

.weather .time {
    display: block;
    margin-bottom: 0.1em;
    font-size: 0.9em;
    color: black;
}

.weather .precipitation {
    position: absolute;
    top: 0.75em;
    left: 0.5em;
    right: 0;

    color: #2f2f2f;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: -1px -1px 2px #fff,
                1px -1px 2px #fff,
                -1px 1px 2px #fff,
                1px 1px 2px #fff;
}

/***** EVENTS *****/

.events li {
    /*outline: 1px solid #424242;*/
    margin-bottom: 0.5em;
    position: relative;
    list-style: none;
    vertical-align: top;
}

.events li:last-child {
    margin-bottom: 0;
}

.events .time {
    color: #a2a2a2;
    margin-right: 0.25em;
}


.events li:before {
    content: "■ ";
    font-size: 2em;
    line-height: 0.5em;
    vertical-align: top;
}

.events li.reminder:before {
    content: "● ";
}

.events li.owner0:before {
    color: #fceb0f;
}

.events li.owner1:before {
    color: #41c6ff;
}

.events li.owner0.owner1:before {
    background: -webkit-linear-gradient(45deg, #41c6ff 38%, #fceb0f 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.events li.reminder {
    border-radius: 1em 0 0 1em;
}

/***** PHONE *****/

@media (max-width: 600px) {
    .day {
        margin: 1em 0;
    }
}

@media (orientation: portrait) {
    .day {
        flex-direction: column;
    }

    hr {
        margin: 1em 0;
    }

    .eventless hr {
        display: none;
    }

    hr:last-child {
        display: none;
    }

    .day section {
        flex-direction: column;
        align-items: center;
    }

    .weather {
        justify-content: center;
    }
}