@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
    background: #424242;
}

#app {
    max-width: 1000px;
    margin: auto;
}

li {
    list-style: none;
}

.day {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background: #2f2f2f;

    display: flex;
    flex-direction: row;
}

.day section {
    flex: 0.5;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 3px solid #424242;
}

.day h2 {

}

.day p {
    color: #6f6f6f;
}

.day > ul {
    flex: 1;
}

/***** WEATHER *****/

.weather {
    margin: 0.75em -0.5em -0.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.weather > li {
    position: relative;
    display: block;
    height: 3em;
    margin: 0.25em 0.5em;
    padding: 0 0.25em;

    text-align: center;
}

.weather li:before {
    display:block;
    content: "";
    height: 1.25em;
    position: absolute;
    left: 0;
    right: 0;
    background: #6f6f6f;
    background: linear-gradient(90deg, #6f6f6f 50%, transparent 100%);
}

.weather li > div
{
    position: relative;
    width: 2.5em;
    height: 3em;
    float: left;
}

.weather img {
    height: 100%;
}

.weather .time {
    display: block;
    margin-bottom: 0.1em;
    font-size: 0.9em;
    color: black;
}

.weather .precipitation {
    position: absolute;
    top: 0.75em;
    left: 0.5em;
    right: 0;

    color: black;
    font-size: 0.9em;
    text-shadow: -1px -1px 1px #fff,
                1px -1px 1px #fff,
                -1px 1px 1px #fff,
                1px 1px 1px #fff;
}

/***** CALENDAR *****/

.calendar { clear: both; }

.calendar li {
    color: #2f2f2f;
    background: #e2e2e2;
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

.calendar li.owner0 {
    background: #fff1a2;
}

.calendar li.owner1 {
    background: #b7e9ff;
}

.calendar li.owner0.owner1 {
    background-image: linear-gradient(0, #fff1a2 50%, transparent 50%)
}