<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Life HUD</title>

    <!-- Bootstrap core CSS -->
    <!--link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"-->

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('lifehud:static/theme.css')}}" rel="stylesheet">
  </head>
    <body>
    {{ debug }}
        {% for day in days %}
        <div class="day">
            <h2>{{ day['date'].strftime('%A, %B %d') }}</h2>

            {% if day['forecast'] %}
                <ul class="weather">
                    {% for hour in day['forecast'] %}
                    <li>
                        <div>
                            <span class="time">{{ hour.time.strftime('%I%p').lower() }}</span>
                            <span class="temp">{{ hour.feelsLike }}&deg;</span>
                        </div>
                        <div>
                            <img src="{{ request.static_url('lifehud:static/images/weather/'+hour.icon+'.png') }}">
                            {% if hour.rainChance >= 20 %}
                            <span class="precipitation">{{ hour.rainChance }}%</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <ul class="calendar">
                {% for event in day['events'] %}
                    <li class="{{ event.type }}
                        {% for owner in event.owners %} owner{{ owner }} {% endfor %}
                    ">

                        {% if event.all_day %}
                            <span class="time">(All day)</span>
                        {% else %}
                            <span class="time">{{ event.start.strftime('%I:%M%p').lower() }}</span>
                        {% endif %}
                        <span class="title">{{ event.title }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

        <hr />

        <h1>Next week's reminders</h1>
        {% for account in accounts %}
            <h2>{{ account.name }}</h2>
            {% if account.reminders|length == 0 %}
                Nothing scheduled in the next week.
            {% else %}
                <ul>
                    {% for reminder in account.reminders %}
                        <li>
                            <h3>{{ reminder.title }}</h3>
                            <p>Due: {{ reminder.due }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </body>
</html>
